* {
    box-sizing: border-box;
}

body {
    margin: 0;

    padding: 0;
}

.add:hover{
    background-color: rgb(225, 223, 223);;
}
#add{
    color: white;
    height: 50px;
    width: 30px;

}
#del{
    color: white;
    height: 50px;
    width: 30px;
}
.ankur {
    height: 5rem;
    background-color: #576574;
    display: flex;
    align-items: center;
}

.ankur>* {
    margin-left: 4rem;
    border-radius: 2px;
}

.toolbox-priority-cont {
    width: 14rem;
    justify-content: space-around;
    background-color: #8395a7;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.action-btn-cont {
    display: flex;
    width: 6rem;
    background-color: #8395a7;
    height: 3.5rem;
}

.action-btn-cont>* {
    display: flex;
    color: #c8d6e5;
    align-items: center;
    font-size: 1.5rem;
    width: 50%;
    justify-content: center;
}


.lightpink {
    background-color: lightpink;
}

.color {
    height: 1.2rem;
    width: 2rem;
    background-color: #dfe4ea;
    border-radius: 2px;
}
.lightblue {
    background-color: lightblue;
}

.lightgreen {

    background-color: lightgreen;
}

.black {
    
    background-color: black;
}

.action-btn-cont>*:hover {
    background: white;
}


.textarea-cont {
    width: 75%;
    outline: none;
    height: 100%;
    background-color: #576574;
    border: none;
    resize: none;
    color:white;
    padding: 2rem;
    font-size: 1.5rem;
}

.modal-cont {
    position: absolute;
    width: 45vw;
    background-color: #576574;
    display: none;
    height: 50vh;
    top: calc((100vh - 50vh)/2);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    left: calc((100vw - 45vw)/2);
}


textarea::-webkit-input-placeholder {
    color: white;
}


.priority-colors-cont {
    justify-content: space-around;
    height: 100%;
    align-items: center;
    background-color: #8395a7;
    flex-direction: column;
    width: 25%;
    display: flex;
}

.border {
    
    border: 5px solid #f5f6fa;
}

.priority-color {
  
    height: 3rem;
    width: 55%;
}

.ticket-cont {
    height: 13rem;
  
  
    width: 16rem;
    background-color: #4b4b4b;
}

.ticket-color {
    height: 1rem;
}

.ticket-id {
    height: 2rem;
    background-color: #dfe4ea;
    padding: 0.4rem;
}

.task-area {
    background-color: #dfe4ea;
    padding: 0.4rem;
    height: calc(100% - 1rem - 2rem - 2rem);
    outline: none;
}

.ticket-lock {
    height: 2rem;
    display: flex;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: #4b4b4b;
    justify-content: flex-end;
    background-color: #dfe4ea;
}

.main-cont {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    gap: 2rem;
}
